# Archivos auxiliares de LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pre
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.bcf
*.run.xml
*.idx
*.ind
*.ilg

# macos
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
